<html>
<head>
<!--script src="jquery-1.9.1.js"></script>
<script src="jquery-ui.js"></script-->
<title>iLearning:Pro Scheduler</title>
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
<!---------------------------------------------------->
<script>

var p1isOn=false;
var p2isOn=false;
var p3isOn=false;

document.addEventListener("DOMContentLoaded", function () {
	document.getElementById("myCanvas").onclick =function(e){
		var x = e.pageX - $(this).offset().left; // this calculates the x coordinate where you click
		var y = e.pageY - $(this).offset().top; // this calculates the y coordinate where you click
		var p1={{question.process1}};
		var p2={{question.process2}};
		var p3={{question.process3}};
		var process = [p1,p2,p3];
		var process_order=[];

		var technique="{{question.technique}}";

		if(technique=="FCFS")
		{
			process_order=process;
		}
		if(technique=="SJF")
		{
			process_order = process.sort(function(a,b){return a-b});
		}			
		var start_x = 150;
		var firstline = start_x +(process_order[0]*20);
		var secondline = firstline + (process_order[1]*20);
		var thirdline = secondline +(process_order[2]*20);

		if((x>=firstline-5) && (x<=firstline+5))
		{
			context.moveTo(firstline, 100);
			context.lineTo(firstline, 200);

			context.fillStyle="lightblue";
			context.fillRect(start_x,100,(firstline-start_x),100);

			context.strokeStyle = "Coral";
			context.lineWidth = 2;
			context.stroke();
			
			context.font="30px Arial";
			context.strokeText("P1",((start_x + firstline)/2),170);
			window['p1isOn']=true;							
		}		
		if(((x>=secondline-5) && (x<=secondline+5)) && p1isOn)
		{					
			context.moveTo(secondline, 100);
			context.lineTo(secondline, 200);

			context.fillStyle="pink";
			context.fillRect(firstline,100,(secondline-firstline),100);

			context.strokeStyle = "Coral ";
			context.lineWidth = 2;
			context.stroke();

			context.font="30px Arial";
			context.strokeText("P2",((firstline + secondline)/2),170);
			window['p2isOn'] =true;
		}
		if((x>=thirdline-5) && (x<=thirdline+5) && p1isOn && p2isOn)
		{
			context.moveTo(thirdline, 100);
			context.lineTo(thirdline, 200);
				
			context.fillStyle="orange";
			context.fillRect(secondline,100,(thirdline-secondline),100);

			context.strokeStyle = "Coral ";
			context.lineWidth = 2;
			context.stroke();

			context.font="30px Arial";
			context.strokeText("P3",((secondline + thirdline)/2),170);
			window['p3isOn'] = true;
			alert("Correct answer!!!");
		}
	}
},false);
</script>


	<link href="{{MEDIA_URL}}/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
	<title>interactive learning portal</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<style>
		html, body {height: 100%;}

		#wrap {min-height: 100%;}

		#main {overflow:auto;
			padding-bottom: 150px;}  /* must be same height as the footer */

		#footer {position: relative;
			margin-top: -150px; /* negative value of footer height */
			height: 150px;
			clear:both;} 

		/*Opera Fix*/
		body:before {
			content:"";
			height:100%;
			float:left;
			width:0;
			margin-top:-32767px;/
		}
	</style>
	<!--[if !IE 7]>
		<style type="text/css">
			#wrap {display:table;height:100%}
		</style>
	<![endif]-->


</head>
<body style="background:url('{{MEDIA_URL}}/img/background.jpg') repeat;">
<div id="wrap">
<div id="main">

<!------------------HEADER STARTS HERE-->
<div style="background-image:url('{{MEDIA_URL}}/img/header3.jpg');background-repeat:no-repeat;background-position:right top;">
<ul class="thumbnails" style="padding:20px;padding-left:50px;margin-bottom:-20px;">
  <li class="span1">
    <a href="#" class="thumbnail">
      <img data-src="" src="" alt="" style="width:25px;height:25px;">
    </a>
  </li>
  <li>
      <h4 style="color:white;">Interactive Learning Portal</h4>
  </li>
</ul>
</div>

<!------------------HEADER ENDS HERE -->


<script src="http://code.jquery.com/jquery.js"></script>
<script src="{{MEDIA_URL}}/js/jquery-1.9.1.js"></script>
<script src="{{MEDIA_URL}}/bootstrap/js/bootstrap.min.js"></script>

<div class="navbar">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/">iLearning</a>
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">
              <!--Logged in as -->
              
	 	
              <!-- href="#" class="navbar-link">Username</a>-->
               </p>
            <ul class="nav">
              <li class="active"><a href="/subject/os">Operating System</a></li>
              <li ><a href="/subject/de">Digital Electronics</a></li>
              <li><a href="/quiz">Quiz</a></li>
              <li><a href="/video">Videos</a></li>
              
            </ul>



		<ul class="nav nav-pills " style="float:right;">
		  <li class="active">
		    
		  </li>
		  <li>
			  <div class="btn-group">
			    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
				Account
				<span class="caret"></span>
			      </a>
			    <ul class="dropdown-menu">
			      <li><a href="#">Sign Out</a></li>
			      <li><a href="#">Change Password</a></li>
			      <li><a href="#">Info</a></li>
			    </ul>
			  </div>
		  </li>
		</ul>
		
            
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>



<h1 align="center" style="color:LightCoral;text-shadow:1px 1px 1px gray;">P R O C E S S &nbsp;&nbsp; S C H E D U L I N G</h1>

	<canvas id="myCanvas" height="350" width="1000"></canvas>
	<script>
		var canvas = document.getElementById("myCanvas");
		var context= canvas.getContext('2d');

//		var rectWidth=300;
//		var rectHeight= 150;

		var correct = "this answer is correct";
		var wrong = "this answer is wrong";

		context.fillStyle="grey";
		context.fillRect(150,100,1000,100);

		for(var x=150;x<=1000;x=x+20)
		{
			context.moveTo(x,85);
			context.lineTo(x,100);
			context.font="10px Arial";
			context.strokeStyle = "black";
			context.lineWidth = 1;
			context.strokeText(((x-150)/20),x-5,80);			
		}
		context.strokeStyle = "blue";
		context.stroke();
</script>
<div id="questionbox" style="border:5px solid coral;padding:20px;" >
	<div id="tablebox" style="älign:left;">
		<table style="border:3px solid blue;">
		<tr style="color:MediumVioletRed;">
			<td><b>Process</b></td>
			<td><b>Burst Time</b></td>
		</tr>
		<tr>
			<td style="color:darkolivegreen">P1</td>
			<td style="color:darkolivegreen">{{question.process1}}</td>
		</tr>
		<tr>
			<td style="color:darkolivegreen">P2</td>
			<td style="color:darkolivegreen">{{question.process2}}</td>
		</tr>
		<tr>
			<td style="color:darkolivegreen">P3</td>
			<td style="color:darkolivegreen">{{question.process3}}</td>
		</tr>
		<tr>
			<td style="color:darkolivegreen"> Scheduling Technique</td>
			<td style="color:darkolivegreen"> {{question.technique}}</td>
		</table>
	</div>
	
	<div id="typewriter"></div>
</div>
<!-----FOOTER----->

</div>
</div>
<br/><br/><br/><br/><br/>
<div id="footer">
	<footer style="background:url({{MEDIA_URL}}/img/footer3.jpg);background-size:100% 100%;background-repeat:no-repeat;">

<div class="media">
  <a class="pull-left" href="#">

  </a>
  <div class="media-body">
  <br>

  <img  src="{{MEDIA_URL}}/img/finger.png" alt="Pulpit rock" width="150" height="150" align="left" >
    <center><i style="color:burlywood; font-family:apple chancery ; font-size:21 ;   "   class="media-heading"><u><a style="color:burlywood;"  href="http://www.sicsr.ac.in" target="_blank">Symbiosis Institute Of Computer Studies And Research</a></u></i><br></center>
    <br>

    
    <div class="media">
   <center> <b><a style="color:bisque;" href="http://www.facebook.com/kannanpkumar?ref=ts&fref=ts" target="_blank">Kannan Kumar</a></b><br></center>
		
	<center><b><a style="color:bisque;" href="http://www.facebook.com/dogsshout?fref=ts" target="_blank">Saharsh Parekh</a></b><br></center>
		
	<center><b><a style="color:bisque;" href="https://www.facebook.com/saurabh.hebbalkar?ref=ts&fref=ts" targer="_blank">Saurabh Hebbalkar</a></b></center>
		

    
	</div>
    
  </div>
</div>

	
	
	
	
	</footer>
</div>

<!--FOOTER END ----->





		



</body>
</html>
