<html>
<head>
<!-----------------------------------------------OR Gate LOGIC CODE Starts HERE------------------------------------------------------>

	<script>
// script for operating a toggle pushbutton switch
var switch_off = new Image();
switch_off.src = "{{MEDIA_URL}}/img/gates/red_button_up.gif";
var switch_on = new Image();
switch_on.src = "{{MEDIA_URL}}/img/gates/red_button_dn.gif";
var a_state = 0;
var b_state = 0;

//input A set
function a_toggle(){
//
if (a_state == 0 )
{
a_state=1;
document.images.btn_a.src = switch_on.src;
}
else
{
a_state=0;
document.images.btn_a.src = switch_off.src;
}
or_logic();
//end
}

//input B set
function b_toggle(){
//
if (b_state == 0 )
{
b_state=1;
document.images.btn_b.src = switch_on.src;
}
else
{
b_state=0;
document.images.btn_b.src = switch_off.src;
}
or_logic();
//end
}


//script for OR logic and to drive LEDs
var gled_off = new Image();
gled_off.src = "{{MEDIA_URL}}/img/gates/green_off.gif";
var gled_on = new Image();
gled_on.src = "{{MEDIA_URL}}/img/gates/green_on.gif";
var rled_off = new Image();
rled_off.src = "{{MEDIA_URL}}/img/gates/red_off.gif";
var rled_on = new Image();
rled_on.src = "{{MEDIA_URL}}/img/gates/red_on.gif";


function or_logic() {
// the OR gate action is below
//light input LED A
if (a_state == 0 )
{
document.images.a_led.src = gled_off.src;
}
else
{
document.images.a_led.src = gled_on.src;
}
//light input LED B
if (b_state == 0 )
{
document.images.b_led.src = gled_off.src;
}
else
{
document.images.b_led.src = gled_on.src;
}
//light output LED which is equal to A OR B Logic
if (a_state | b_state)
{
document.images.q_led.src = rled_on.src;
}
else
{
document.images.q_led.src = rled_off.src;
}
//end
}

</script>
<!-- --------------------------------------------OR GATE LOGIC CODE ENDS HERE---------------------------------------------------- -->
 <link href="{{MEDIA_URL}}/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
      <title>interactive learning portal</title>
    	
		
		<!--link rel="shortcut icon" href="http://24.media.tumblr.com/avatar_05e176e12c15_16.png"-->
		<!--link rel="alternate" type="application/rss+xml" href="http://www.alexbuga.is/rss"-->
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

	
	<!--table style-->
	<style>
		.mytable
		{
		border-collapse:collapse; 
		border-color:coral; 
		border-style:solid; 
		border-width:5px;
		}

		.mytable td
		{
		border-color:Bisque;
		border-style:solid; 
		border-width:3px;
		}

</style>	
	
	
		<!--------------------------------------------footer styles-------------------------------------------------------->
	<style>
		html, body {height: 100%;}

		#wrap {min-height: 100%;}

		#main {overflow:auto;
			padding-bottom: 150px;}  /* must be same height as the footer */

		#footer {position: relative;
			margin-top: -150px; /* negative value of footer height */
			height: 150px;
			clear:both;} 

		/*Opera Fix*/
		body:before {
			content:"";
			height:100%;
			float:left;
			width:0;
			margin-top:-32767px;/
		}
	</style>
	<!--[if !IE 7]>
		<style type="text/css">
			#wrap {display:table;height:100%}
		</style>
	<![endif]-->	

	
	
</head>

<body style="background:url('{{MEDIA_URL}}/img/background.jpg') repeat;">
<div id="wrap">
<div id="main">





<!------------------HEADER STARTS HERE-->

<div style="background-image:url('{{MEDIA_URL}}/img/header3.jpg');background-repeat:no-repeat;background-position:right top;">
<ul class="thumbnails" style="padding:20px;padding-left:50px;margin-bottom:-20px;">
  <li class="span1">
    <a href="#" class="thumbnail">
      <img data-src="" src="" alt="" style="width:25px;height:25px;">
    </a>
  </li>
  <li>
      <h4 style="color:white;">Interactive Learning Portal</h4>
  </li>
</ul>
</div>

<!------------------HEADER ENDS HERE -->


<script src="http://code.jquery.com/jquery.js"></script>
<script src="{{MEDIA_URL}}/js/jquery-1.9.1.js"></script>
<script src="{{MEDIA_URL}}/bootstrap/js/bootstrap.min.js"></script>

<div class="navbar navbar ">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/">iLearning</a>
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">
              <!--Logged in as -->
              
	 	
              <!-- href="#" class="navbar-link">Username</a>-->
           </p>
            <ul class="nav">
              <li><a href="/subject/os">Operating System</a></li>
              <li class="active"><a href="/subject/de">Digital Electronics</a></li>
              <li><a href="/quiz">Quiz</a></li>
              <li><a href="/video">Videos</a></li>
              
            </ul>



		<ul class="nav nav-pills " style="float:right;">
		  <li class="active">
		    
		  </li>
		  <li>
			  <div class="btn-group">
			    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
				Account
				<span class="caret"></span>
			      </a>
			    <ul class="dropdown-menu">
			      <li><a href="#">Sign Out</a></li>
			      <li><a href="#">Change Password</a></li>
			      <li><a href="#">Info</a></li>
			    </ul>
			  </div>
		  </li>
		</ul>
		
            
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>




<h1 align="center" style="color:LightCoral;text-shadow:1px 1px 1px gray;">O R &nbsp;&nbsp; G A T E</h1>
<!-----------------------------------------------AND GATE DESIGN Starts HERE--------------------------------------------------->
<br>
<br>
<div>
 <table style="margin-left:300px;" align="left" bgcolor="#a0b9dc" border="0" cellpadding="0" cellspacing="0">
              <tbody>
                <tr>
                  <td align="center" bgcolor="#7d9bbe" valign="middle" width="60"><br>
                  </td>
                  <td align="center" valign="middle" width="28"><b><font color="#6666cc" face="Helvetica, Arial, sans-serif">A<br>
                  </font></b> </td>
                  <td align="center" valign="middle" width="290"> <br>
                  </td>
                  <td align="center" valign="middle" width="28"><b><font color="#6666cc" face="Helvetica, Arial, sans-serif">Q<br>
                  </font></b> </td>
                </tr>
                <tr>
                  <td align="center" bgcolor="#7d9bbe" valign="middle" width="60">
                  <table align="center" border="0" cellpadding="2" cellspacing="2" width="100%">
                    <tbody>
                      <tr>
                        <td align="center" height="50" valign="middle"><img src="{{MEDIA_URL}}/img/gates/red_button_up.gif" alt="" name="btn_a" onclick="a_toggle();" height="39" width="44"></td>
                      </tr>
                      <tr>
                        <td align="center" height="50" valign="middle"><img src="{{MEDIA_URL}}/img/gates/red_button_up.gif" alt="" name="btn_b" onclick="b_toggle();" height="39" width="44"></td>
                      </tr>
                    </tbody>
                  </table>
                  </td>
                  <td align="center" valign="middle" width="28">
                  <table border="0" cellpadding="2" cellspacing="2" width="100%">
                    <tbody>
                      <tr>
                        <td align="center" height="50" valign="middle"><img alt="" src="{{MEDIA_URL}}/img/gates/green_off.gif" name="a_led" height="28" width="28"></td>
                      </tr>
                      <tr>
                        <td align="center" height="50" valign="middle"><img alt="" src="{{MEDIA_URL}}/img/gates/green_off.gif" name="b_led" height="28" width="28"></td>
                      </tr>
                    </tbody>
                  </table>
                  </td>
                  <td align="center" valign="middle" width="290"><img src="{{MEDIA_URL}}/img/gates/or.gif" alt="" height="159" width="290"></td>
                  <td align="center" valign="middle" width="28"><img alt="" src="{{MEDIA_URL}}/img/gates/red_off.gif" name="q_led" height="28" width="28"></td>
                </tr>
                <tr>
                  <td align="center" bgcolor="#7d9bbe" valign="middle" width="60"> <br>
                  </td>
                  <td align="center" valign="middle" width="28"><b><font color="#6666cc" face="Helvetica, Arial, sans-serif">B</font></b> </td>
                  <td align="center" valign="middle" width="290"><br>
                  </td>
                  <td align="center" valign="middle" width="28"><br>
                  </td>
                </tr>
              </tbody>
            </table>

<!------------------------------------------------OR Gate Design ENDS Here---------------------------------------------------->

<!------------------------------------------------OR gate table starts-------------------------------------------------------->
						
				<table class="mytable" style="margin-right:300px;" border="1" align="right" bgcolor="#a0b9dc" cellpadding="16" cellspacing="10" >
			
					<tr>
						<td style="color:MediumVioletRed" ><b>Input A</b></td>
						<td style="color:MediumVioletRed"><b>Input B</b></td>
						<td style="color:MediumVioletRed"><b>Output</b></td>
					</tr>
					
					<tr>
						<td style="color:grey" align="center">0</td>
						<td style="color:grey" align="center">0</td>
						<td style="color:grey" align="center">0</td>
					</tr>
					
					<tr>
						<td style="color:grey" align="center">0</td>
						<td style="color:grey" align="center">1</td>
						<td style="color:grey" align="center">1</td>
					</tr>
					
					<tr>
						<td style="color:grey" align="center">1</td>
						<td style="color:grey" align="center">0</td>
						<td style="color:grey" align="center">1</td>
					</tr>	
						
					
					<tr>
						<td style="color:DarkSlateGray" align="center">1</td>
						<td style="color:DarkSlateGray" align="center">1</td>
						<td style="color:DarkSlateGray" align="center">1</td>
					</tr>
					
				</table>		
						
</div>
						
						
<!-- --------------------------------------------OR gate table ends---------------------------------------- -->

<!-----FOOTER----->

</div>
</div>
<br/><br/><br/><br/><br/>
<div id="footer">
	<footer style="background:url({{MEDIA_URL}}/img/footer3.jpg);background-size:100% 100%;background-repeat:no-repeat;">

<div class="media">
  <a class="pull-left" href="#">

  </a>
  <div class="media-body">
  <br>

  <img  src="{{MEDIA_URL}}/img/finger.png" alt="Pulpit rock" width="150" height="150" align="left" >
    <center><i style="color:burlywood; font-family:apple chancery ; font-size:21 ;   "   class="media-heading"><u><a style="color:burlywood;"  href="http://www.sicsr.ac.in" target="_blank">Symbiosis Institute Of Computer Studies And Research</a></u></i><br></center>
    <br>

    
    <div class="media">
   <center> <b><a style="color:bisque;" href="http://www.facebook.com/kannanpkumar?ref=ts&fref=ts" target="_blank">Kannan Kumar</a></b><br></center>
		
	<center><b><a style="color:bisque;" href="http://www.facebook.com/dogsshout?fref=ts" target="_blank">Saharsh Parekh</a></b><br></center>
		
	<center><b><a style="color:bisque;" href="https://www.facebook.com/saurabh.hebbalkar?ref=ts&fref=ts" targer="_blank">Saurabh Hebbalkar</a></b></center>
		

    
	</div>
    
  </div>
</div>

	
	
	
	
	</footer>
</div>

<!--FOOTER END ----->



</body>

</html>
