<html>
<head>
<link href="{{MEDIA_URL}}/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
<title>iLearning:DE</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<style>
	html, body {height: 100%;}

	#wrap {min-height: 100%;}

	#main {overflow:auto;
		padding-bottom: 150px;}  /* must be same height as the footer */

	#footer {position: relative;
		margin-top: -150px; /* negative value of footer height */
		height: 150px;
		clear:both;}

	/*Opera Fix*/
	body:before {
		content:"";
		height:100%;
		float:left;
		width:0;
		margin-top:-32767px;/
	}
</style>
<!--[if !IE 7]>
	<style type="text/css">
		#wrap {display:table;height:100%}
	</style>
<![endif]-->

</head>

<body>

<div id="wrap">
<div id="main">

<!---HEADER STARTS HERE-->
<div style="background-image:url('{{MEDIA_URL}}/img/header3.jpg');background-repeat:no-repeat;background-position:right top;">
<ul class="thumbnails" style="padding:20px;padding-left:50px;margin-bottom:-20px;">
  <li class="span1">
    <a href="#" class="thumbnail">
      <img data-src="" src="" alt="" style="width:25px;height:25px;">
    </a>
  </li>
  <li>
      <h4 style="color:white;">Interactive Learning Portal</h4>
  </li>
</ul>
</div>
                                                             
<script src="{{MEDIA_URL}}/js/jquery-1.9.1.js"></script>
<script src="{{MEDIA_URL}}/bootstrap/js/bootstrap.min.js"></script>

<div class="navbar">
<div class="navbar-inner">
<div class="container-fluid">
<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
<a class="brand" href="/">iLearning</a>
<div class="nav-collapse collapse">
<p class="navbar-text pull-right">
<!--Logged in as -->


<!-- href="#" class="navbar-link">Username</a>-->
</p>
<ul class="nav">
{% for s in subject %}
	{% ifequal s.code thissubject.code %}
		<li class="active"><a href="/subject/{{s.code}}">{{s.name}}</a></li>
	{% else %}
		<li><a href="/subject/{{s.code}}">{{s.name}}</a></li>
	{% endifequal %}
{% endfor %}
<!--li ><a href="/subject/os">Operating System</a></li>
<li class="active"><a href="/subject/de">Digital Electronics</a></li-->
<li><a href="/quiz">Quiz</a></li>
<li><a href="/video">Videos</a></li>

</ul>



	<ul class="nav nav-pills " style="float:right;">
	  <li class="active">

	  </li>
	  <li>
		  <div class="btn-group">
		    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
			Account
			<span class="caret"></span>
		      </a>
		    <ul class="dropdown-menu">
		      <li><a href="#">Sign Out</a></li>
		      <li><a href="#">Change Password</a></li>
		      <li><a href="#">Info</a></li>
                            </ul>
                          </div>
                  </li>
                </ul>


          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>



<h1 align="center" style="color:LightCoral ">{{thissubject.name.upper}}</h1>
    <!--div class="page-header">
            <h1 style="color:LightCoral"> <small></small></h1>
    </div-->

<div class="span12">
<div class="span4"></div>
<div class="span7">

<div class="accordion" id="accordion2">


{% for chap in chapter %}
<!--script>
//alert("{{chap.subject.code}}{{thissubject.code}}");
var chapsub = "{{chap.subject.code}}";
var thisub = "{{thissubject.code}}";
if(chapsub==thisub)
{
	alert("Sama Sama");
}
else
{
	alert("Not sama");
}
</script-->
	{% ifequal chap.subject.code thissubject.code %}
<!--script>alert("{{chap.subject.code}} | {{thisubject.code}}");</script-->
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse1">
        Chapter {{chap.number}}: {{chap.name}}
      </a>
    </div>
    <div id="collapse1" class="accordion-body collapse in">
      <div class="accordion-inner">
	<p>{{chap.description}}</p>

	{% for res in resource %}
		{% ifequal res.subject.code thissubject.code %}
			{% ifequal res.chapter.number chap.number %} 
		
			        <!--a href="/gate/and"><li>AND gate</li></a>
			        <a href="/gate/or"><li>OR gate</li></a>
			        <a href="/gate/not"><li>NOT gate</li></a>
			        <a href="/gate/xor"><li>XOR gate</li></a>
			        <a href="/quizzy_video/1"><li>Video Quiz : Logic Gates:AND,OR,NOT (DE-001)</li></a>
			        <a href="/quizzy_video/2"><li>Video Quiz : Logic Gates:NAND,NOR (DE-002)</li></a-->

				<a href="{{res.url}}"><li>{{res.name}}</li></a>
			{% endifequal %}
		{% endifequal %}
	{% endfor %}
      </div>
    </div>
  </div>
	{% endifequal %}
{% endfor %}

  <!--div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse2">
        Chapter 2 : Combinational Logic Circuits
      </a>
    </div>
    <div id="collapse2" class="accordion-body collapse in">
      <div class="accordion-inner">
        <p>Half adder, Full adder, adder/subtractor, ALU, Multiplexer and demultiplexer.</p>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse3">
        Chapter 3 : Sequential Circuits
      </a>
    </div>
    <div id="collapse3" class="accordion-body collapse in">
      <div class="accordion-inner">
        <p>Flip-flops (SR, JK, master slave, D and T), Ripple counter, modulus of a counter, decade counter, Up/Down counter, synchronous counter and sequential generators.</p>
      </div>
    </div>
  </div-->
</div>
<div class="span1"></div>
</div>
<!----FOOTER---->

</div>
</div>
<br/><br/><br/><br/><br/>
<div id="footer">
        <footer style="background:url({{MEDIA_URL}}/img/footer3.jpg);background-size:100% 100%;background-repeat:no-repeat;">

<div class="media">
  <a class="pull-left" href="#">

  </a>
  <div class="media-body">
  <br>

  <img  src="{{MEDIA_URL}}/img/finger.png" alt="Pulpit rock" width="150" height="150" align="left" >
    <center><i style="color:burlywood; font-family:apple chancery ; font-size:21 ;   "   class="media-heading"><u><a style="color:burlywood;"  href="http://www.sicsr.ac.in" target="_blank">Symbiosis Institute Of Computer Studies And Research</a></u></i><br></center>
    <br>


    <div class="media">
   <center> <b><a style="color:bisque;" href="http://www.facebook.com/kannanpkumar?ref=ts&fref=ts" target="_blank">Kannan Kumar</a></b><br></center>

        <center><b><a style="color:bisque;" href="http://www.facebook.com/dogsshout?fref=ts" target="_blank">Saharsh Parekh</a></b><br></center>

        <center><b><a style="color:bisque;" href="https://www.facebook.com/saurabh.hebbalkar?ref=ts&fref=ts" targer="_blank">Saurabh Hebbalkar</a></b></center>



        </div>

  </div>
</div>





        </footer>
</div>

<!--FOOTER END -->


                                
</body>

</html>
                                                                         			   
