<html>

<head>
    <link href="{{MEDIA_URL}}/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <title>iLearning:Video</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<style>
		html, body {height: 100%;}

		#wrap {min-height: 100%;}

		#main {overflow:auto;
			padding-bottom: 30px;}  /* must be same height as the footer */

		#footer {position: relative;
			margin-top: -30px; /* negative value of footer height */
			height: 30px;
			clear:both;} 

		/*Opera Fix*/
		body:before {
			content:"";
			height:100%;
			float:left;
			width:0;
			margin-top:-32767px;/
		}
	</style>
	<!--[if !IE 7]>
		<style type="text/css">
			#wrap {display:table;height:100%}
		</style>
	<![endif]-->

</head>

<body>

<div id="wrap">
<div id="main">

<!------------------HEADER STARTS HERE-->
<div style="background-image:url('{{MEDIA_URL}}/img/header3.jpg');background-repeat:no-repeat;background-position:right top;">
<ul class="thumbnails" style="padding:20px;padding-left:50px;margin-bottom:-20px;">
  <li class="span1">
    <a href="#" class="thumbnail">
      <img data-src="" src="{{MEDIA_URL}}/img/i.jpeg" alt="logo"  style="width:25px;height:25px;">
    </a>
  </li>
  <li>
      <h4 style="color:white;">Interactive Learning Portal</h4>
  </li>
</ul>
</div>

<!------------------HEADER ENDS HERE -->


<script src="http://code.jquery.com/jquery.js"></script>
<script src="{{MEDIA_URL}}/js/jquery-1.9.1.js"></script>
<script src="{{MEDIA_URL}}/bootstrap/js/bootstrap.min.js"></script>

<div class="navbar">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/">iLearning</a>
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">
              <!--Logged in as -->
              
	 	
              <!-- href="#" class="navbar-link">Username</a>-->
               </p>
            <ul class="nav">
{% for s in subject %}
        
	     <li><a href="/subject/{{s.code}}">{{s.name}}</a></li>
        
{% endfor %}

              <!--li ><a href="/subject/os">Operating System</a></li>
              <li><a href="/subject/de">Digital Electronics</a></li-->
              <li><a href="/quiz">Quiz</a></li>
              <li class="active"><a href="/video">Videos</a></li>
              
            </ul>



		<ul class="nav nav-pills " style="float:right;">
		  <li class="active">
		    
		  </li>
		  <li>
			  <div class="btn-group">
			    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
				Account
				<span class="caret"></span>
			      </a>
			    <ul class="dropdown-menu">
			      <li><a href="#">Sign Out</a></li>
			      <li><a href="#">Change Password</a></li>
			      <li><a href="#">Info</a></li>
			    </ul>
			  </div>
		  </li>
		</ul>
		
            
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>



<h1 align="center" style="color:LightCoral;text-shadow:1px 1px 1px gray;">V I D E O &nbsp;&nbsp;</h1>

<!---------------------------------------table------------------------------>
<div id="table">

<table  style="border:5px solid coral; box-shadow: 10px 10px 5px #888;" align="center" cellpadding="10" border="2">
	<tr style="margin:20px;">
	<td style="box-shadow: 5px 5px 5px #888;"><a href="/quizzy_video/1/"> <img src="{{MEDIA_URL}}/img/denand.png" height="300" width="400"/> </a></td>
	<td style="box-shadow: 5px 5px 5px #888;"> <a href="/quizzy_video/2/"> <img src="{{MEDIA_URL}}/img/deand.png" height="300" width="400"/> </a> </td>
	</tr>
	
	<tr>
	<td style="box-shadow: 5px 5px 5px #888;"><a href="/quizzy_video/3/">  <img src="{{MEDIA_URL}}/img/decoderpng.png" height="300" width="400"/></a> </td>
	<td style="box-shadow: 5px 5px 5px #888;"><a href="/quizzy_video/3/">  <img src="{{MEDIA_URL}}/img/desrlatch.png" height="300" width="400"/> </a> </td>
	</tr>
</table>
</div>








<!---------------------------------------table ends_-------------------------------------->

<div class="span12">
	<div class="span4"></div>
	<div class="span7">
		    <!--content here-->
	</div>
	<div class="span1"></div>
</div>

<!-----FOOTER---->

</div>
</div>
<br/><br/><br/>

<script>
$(document).ready(function(){
	$("#shown-footer").click(function(){
		$('#hidden-footer').slideToggle('slow');
		$('html,body').animate({scrollTop:$('#shown-footer').offset().top},'slow');
	});
});
</script>
<div id="footer">
	<footer id="hidden-footer" style="background:url({{MEDIA_URL}}/img/footer3.jpg);background-size:100% 100%;background-repeat:no-repeat;display:none;">

     <div class="media">
      <a class="pull-left" href="#">

      </a>
      <div class="media-body">
        <br>

        <img  src="{{MEDIA_URL}}/img/finger.png" alt="Pulpit rock" width="150" height="150" align="left" >
        <center><i style="color:burlywood; font-family:apple chancery ; font-size:21 ;   "   class="media-heading"><u><a style="color:burlywood;"  href="http://www.sicsr.ac.in" target="_blank">Symbiosis Institute Of Computer Studies And Research</a></u></i><br></center>
        <br>

        
        <div class="media">
          <center> <b><a style="color:bisque;" href="http://www.facebook.com/kannanpkumar?ref=ts&fref=ts" target="_blank">Kannan Kumar</a></b><br></center>
		
    	    <center><b><a style="color:bisque;" href="http://www.facebook.com/dogsshout?fref=ts" target="_blank">Saharsh Parekh</a></b><br></center>
		
	        <center><b><a style="color:bisque;" href="https://www.facebook.com/saurabh.hebbalkar?ref=ts&fref=ts" targer="_blank">Saurabh Hebbalkar</a></b></center>
        
  	    </div>
        
      </div>
    </div>

	
	
	
	
	</footer>
        <div id="shown-footer" class="navbar"  tabindex='1' style="padding:0px;margin-bottom:0px;">
		      <div class="navbar-inner">	
		      
		              <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">
              <!--Logged in as -->
              
	 	
              <!-- href="#" class="navbar-link">Username</a>-->
            </p>
            <ul class="nav">

            <li><a> </a></li>
              
            </ul>

		      
		      </div>
		      </div>
		      
		      
		      
    		  	<center>&nbsp;<span class="caret" style=""></span></center>
    	    </div>
      	</div>
</div>

<!--FOOTER END -->
</div>
			
</body>

</html>
